<!DOCTYPE html>
{% load custom_filter %}


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tạo License Key</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <div class = "container">
            <div class = "column">
                <h2> Tạo Key </h2>
                <form method = "POST">
                    {% csrf_token %}
                    <button type="submit">Tạo Key</button>
                </form>
                <form method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type = "file" name = "key_file" accept = ".txt">
                    
                    <button type="submit">Tải lên Key</button>
                </form>
            </div>
            <div class = "column">
                <h2> Danh sách key đã tạo </h2>
                    <table>
                        {% for key in license_keys %}
                            <tr {% if key.is_valid %} class = "valid"
                                {% else %} class = "invalid"
                                {% endif %}>
                                    <td>{{ key.key|truncate_key }}</td>     <!-- Ap dung filter-->
                                <td style="text-align: right;">
                                    <button onclick="location.href='{% url 'refresh_key' key.id %}'">Làm mới</button>
                                    <button onclick="location.href='{% url 'delete_key' key.id %}'">Xóa</button>
                                    <button data-key="{{ key.key }}" onclick="copy(this)">Sao chép</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% if messages %}
                <ul class = "messages">
                    {% for message in messages  %}
                    <li {% if message.tags %} class = "{{ message.tags }}" {% endif %}
                    {% endfor %}
                </ul>        
                {% endif %}
            </div>
        </div>     
        <script src="static\copy.js" async defer></script>
    </body>
</html>